* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  border-radius: 30%;
}

.logo img {
  box-sizing: border-box;
}

.carousel-item img {
  height: 90vh;
  width: 1200px;
}

.produk {
  margin-top: 100px;
}

.card:hover {
  box-shadow: -2px 0px 22px 0px rgba(0, 0, 0, 0.75);
  transition: 700ms;
}
