/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  border-radius: 30%;
}

.logo img {
  box-sizing: border-box;
}

.carousel-item img {
  height: 90vh;
  width: 1200px;
}

.produk {
  margin-top: 100px;
}

.card:hover {
  box-shadow: -2px 0px 22px 0px rgba(0, 0, 0, 0.75);
  transition: 700ms;
}

/* .loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader-container img {
  width: 35rem;
}

.loader-container.fade-out {
  top: 100%;
  opacity: 0;
} */
